@import "../../../sass/variables";

.Input {
  &__text-input {
    padding: 10px 15px;
    margin-top: 28px;
    border: 1px solid $color-grey;
    transition: box-shadow 0.25s;
    min-width: 200px;
    width: 100%;

    &:active,
    &:focus {
      outline: none;
      box-shadow: 0 3px 10px $color-grey;
    }

    &--error {
      border: 1px solid $color-error;
    }

    &--success {
      border: 1px solid $color-primary;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: darken($color-grey, 30);
    font-weight: 300;
  }

  &__validation-message {
    position: absolute;
    top: 63px;
    font-size: 12px;
    padding-top: 5px;
    padding-left: 5px;
    color: $color-error;
  }
}
