@import "../../sass/variables";
@import "../../sass/mixins";

.Public {
  position: relative;
  min-height: calc(100vh - #{$navbar-height});
  max-width: 1200px;
  margin: 0 auto;

  &__callout {
    text-align: center;
    margin-top: 50px;
  }

  &__heading {
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 40px;
  }

  &__paragraph {
    color: $color-grey;
  }
}

.CenterBox {
  @include centerVH;
}
