@import "../../../sass/variables";

.LinkList {
  &__link {
    display: block;
    padding: 20px 10px;
    color: $color-primary;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: padding 0.25s;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      transform: translateX(-100%);
      background-image: linear-gradient(
        to right,
        lighten($color-primary, 10),
        lighten($color-secondary, 10)
      );
      transition: all 0.25s;
      z-index: -1;
    }
    &:hover {
      padding-left: 20px;
    }

    &.active {
      background-color: lighten($color-blue, 10);
      color: white;
      padding-left: 20px;
    }

    i {
      margin-right: 5px;
    }
  }
}
