@import "../../../sass/variables";

.LinkList {
  &__link {
    display: block;
    padding: 20px 10px;
    color: $color-primary;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    transition: padding 0.25s;

    &:hover {
      padding-left: 20px;
    }

    &.active {
      background-color: lighten($color-blue, 10);
      color: white;
      padding-left: 20px;
    }

    i {
      margin-right: 5px;
    }
  }
}
